        <div class="card small custom" style="min-height: 360px; background: transparent; ">
            <div class="card-image ">
              
              <div class="container-img">
                <img  src="{{ObjUser.photoUrl}}" class="">
                <div class="overlay-p"></div>
              </div>
              <span class="card-title">{{ ObjUser.name }}</span>
            </div>
            <div class="card-content">
              <p style="color: #b30f0f; font-weight: bold;"> Fiao :{{ priceTotal | currency:'USD':true:'3.2-2'}}</p>       
            </div>
            <div class="card-action">
                <a href="/members" class="btn-flat black-text">products</a> <br>
                <a href="/history" class="btn-flat black-text">History</a> <br>
                <a (click)="logout()" class="btn-flat black-text" title="Logout">Logout</a>
            </div>
        </div>
