<div *ngIf="FlagAuth" >
<header>
  <div class="row" style="max-width: inherit;     max-width: inherit; border-bottom: 2px solid #59214e;">
    <div class="col l2 m4 s12 menu-top" style="text-align: center">
      <a href="#" onload="mymenu()"  data-activates="slide-out" class="button-collapse"><i class="material-icons Medium">menu</i></a>
      <img *ngIf="FlagAuth" style="    max-width: 80px;" class="hide-on-small-only" src="https://ii.ct-stc.com/1/logos/empresas/2016/11/30/yuxi-pacific-latam-D5610CA2B7016729thumbnail.jpeg"
        alt="">
      <img style=" width: 50px;   margin-top: 10px; margin-bottom: 10px;" class="hide-on-large-only hide-on-med-only " src="/assets/images/logohrl.png"
        alt="">
    </div>

    <!--<ul>
         <li><a (click)="logout()"  title="Logout" style="background: #2F1A45 ">Logout</a></li>
        <li> <a href="/members" >products</a></li>
        <li> <a href="/my-history" >History</a></li>
        <li><a href="/inventory" >Inventario</a></li>
        
      </ul>-->
    <nav class="col l10  m8 hide-on-small-only menu-horizontal" style="padding: 0" *ngIf="FlagAuth">
      <div class="nav-wrapper">

        <ul id="nav-mobile" class="right hide-on-med-and-down" style="    line-height: inherit;">

          <li><a href="/members">Products</a></li>
          <li><a href="/my-history">History</a></li>
          <li><a *ngIf="ObjUser.IsAdmin" href="/inventory">Inventory</a></li>
          <li><a href="/comments">Comments</a></li>
          <li>
            <a href="#" class=" right" style=" border-left: 1px solid rgba(255,255,255,0.8); background: #2F1A45"><img style="width: 50px; height: 50px; border-radius: 50%" src="{{ObjUser.photoUrl}}" class=""></a>
          </li>
          <li><a (click)="logout()" title="Logout" style="background: #2F1A45 ">Logout</a></li>
        </ul>
      </div>
    </nav>

  </div>

</header>
<ul id="slide-out" class="side-nav">
  <div>
    <li>
      <div class="userView">
        <div class="background">
          <img src="assets/images/bg-menu.jpg">
        </div>
        <a href="/members"><img class="circle" src="{{ObjUser.photoUrl}}"></a>
        <a href="/members"><span class="white-text name">{{ ObjUser.name }}</span></a>
        <a><span class="a-span-menu" [ngClass]="(priceTotal>0 )? 'red-text':'green-text'">Fiao :{{ priceTotal | currency:'USD':true:'3.2-2'}}</span>
        <span class="cinta-negra"></span></a>
      </div>
    </li>
    <li> <a href="/members" class="btn-flat black-text">products</a></li>
    <li> <a href="/my-history" class="btn-flat black-text">History</a></li>
    <li> <a *ngIf="ObjUser.IsAdmin" href="/inventory" class="btn-flat black-text">Inventory</a></li>
    <li> <a href="/comments" class="btn-flat black-text">Comments</a></li>
    <li> </li>
    <li>
      <div class="divider"></div>
    </li>
    <li><a (click)="logout()" class="btn-flat red-text" title="Logout">Logout</a></li>
  </div>
  <div *ngIf="!FlagAuth">
    <li>
      <h1 style="color: #5ec3df; text-align: center;    font-size: 30px;    margin-top: 113px;">Ingresa <br> y <br> mecatea</h1>
    </li>
    <li> </li>
    <li>
      <div class="divider"></div>
    </li>
    <li><a (click)="logout()" class="waves-effect waves-light btn  btn-large purple darken-3 " title="Logout">Logout</a></li>
  </div>
</ul>
</div>
<div *ngIf="!FlagAuth" >
<header>
  <div class="row" style="max-width: inherit;     max-width: inherit; border-bottom: 2px solid #59214e;">
    <div class="col l2 m4 s12 menu-top" style="text-align: center">
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons Medium">menu</i></a>
      <img style=" width: 50px;   margin-top: 10px; margin-bottom: 10px;" class="hide-on-large-only hide-on-med-only " src="/assets/images/logohrl.png"
        alt="">
    </div>
  </div>
</header>
  <div style="padding-bottom: 24px" class="center-align">
    <p class="center-align">Enter To enjoy any of our products :) </p>
    <a  class="waves-effect waves-light btn  btn-large purple darken-3 center-align" href="/login">Log In</a>
  </div>
</div>