<div class="row valign-wrapper" style="max-width:100%;">
  <div class="col s12 m12 l7 valign">
    <div class="row margin-rs">
      <div class="col s12 ">
          <img src="assets/images/yuxxi.png" id="lock">
      </div>
      <div class="col s12">
        <h3>Welcome! Yuxian</h3>
        <p class="flow-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At ipsum distinctio nulla. Temporibus error asperiores enim, laboriosam quisquam veniam hic quasi rem nostrum cumque iure optio, totam a harum facilis!</p>
       <a class="waves-effect waves-light btn">About us</a>

      </div>
    </div>
  </div>


  <div class="form-container col s12 m12 l5 valign" style="overflow: hidden">
    
       <div class="row ">
         <div class="valign-wrapper" style="margin: 2px auto">
         <div class="col s12 ">
        <h4>Login to your account</h4>
        <span class="error" *ngIf="error">{{ error }}</span>

        <button (click)="loginFb()" id="fb" class=" btn-5">Login With Facebook</button><br>
        <button (click)="loginGoogle()" id="google" class=" btn-5">Login With Google</button>
        <button routerLink="/login-email" id="email" class=" btn-5">Email</button>
        <a routerLink="/signup" routerLinkActive="active" class=" alc "> <strong>Create one here</strong></a>
        </div>
      </div>
    </div>
  </div>

</div>