<div>
  <a id="scale-demo" data-target="modal1" (click)="openModal('nokey', false)" class="btn-large scale-transition" style="position: fixed;z-index: 999999999999999999; right: 9%; padding-left: 12px;padding-right: 12px;">
    <i class="material-icons">add</i>
  </a>
  <h4 style="text-align: center; color: #26a69a">INVENTORY</h4>
</div>


<!--<button data-target="modal1" class="btn" (click)="openModal('nokey', false)">INSERT PRODUCTS</button>-->
<div class="row">
  <div class="col l3 m6 s12 product-card" *ngFor="let img of imageList | async">
    <div class="card">
      <div class="card-image">
        <img src="{{ img.downloadURL.pa }}" style="width:70%;height:180px;margin:0% auto">
      </div>
      <div class="card-content">
        <span class="card-title">
          {{img.product}}
        </span>
        <div>Price: {{img.price}}</div>
        <div>Quantity: {{img.quantity}}</div>
      </div>
      <div class="card-action" style="text-align: right">
        <a data-target="modal1" class="btn-floating" (click)="openModal(img.$key, true)"><i class="material-icons">&#xE3C9;</i></a>
        <a class="btn-floating" (click)="delReg(img.$key)"><i class="material-icons">&#xE92B;</i></a>
      </div>
    </div>
  </div>
</div>


<!-- Modal Structure -->
<div id="modal1" class="modal">
  <form #formData='ngForm' (ngSubmit)="onSubmit(formData.value)">
    <div class="modal-content">
      <div class="row">
        <div class="input-field col s12">
          <input [(ngModel)]="productN" value="{{ObjProd.product}}" name="productN" type="text" autofocus>
          <label for="productN">Product Name</label>
        </div>
        <div class="input-field col s12">
          <input [(ngModel)]="price" value="{{ObjProd.price}}" name="price" type="text" autofocus>
          <label for="price">price</label>
        </div>
        <div class="input-field col s12">
          <input [(ngModel)]="quantity" value="{{ObjProd.quantity}}" name="quantity" type="text" autofocus>
          <label for="quantity">quantity</label>
        </div>
        <div class="input-field col s12">
          <input [(ngModel)]="photoURL" value="{{ObjProd.product}}" name="photoURL" type="text" autofocus>
          <label for="photoURL">photoURL</label>

        </div>
      </div>
    </div>
    <div class="modal-footer">

      <form ngNoForm>
        <input id="file" name="file" type="file">

      </form>
      <div style="overflow:hidden;">
        <div style="position:relative;width:100px;height:100px;float:left;display:flex;justify-content:center;align-items:center;">
          <img [src]="ObjProd.path" style="max-width:100px;max-height:100px;">
          <button (click)="delete(ObjProd.path, ObjProd.key)" style="position:absolute;top:2px;right:2px;">[x]</button>
        </div>
      </div>
    </div>
    <button type="submit" class="modal-action modal-close  ">Update Product</button>
  </form>
</div>