    <header >
      <div class="row" style="max-width: inherit;">
      <div class="col l2 m4 s12 menu-top" style="text-align: center">
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons Medium">menu</i></a>
        <img  style="    max-width: 100px;" class="hide-on-small-only" src="https://ii.ct-stc.com/1/logos/empresas/2016/11/30/yuxi-pacific-latam-D5610CA2B7016729thumbnail.jpeg" alt="">
        <img  style=" width: 50px;   margin-top: 10px; margin-bottom: 10px;"  class="hide-on-large-only hide-on-med-only " src="/assets/images/logohrl.png" alt="">
      </div>
      <div class="col l10  m8 hide-on-small-only" style="background-color: #59214e !important;">

      </div>
      </div>

    </header>
  <a  data-target="modal1" (click)="openModal('nokey', false)" class="btn-floating btn-large waves-effect waves-light show-on-small hide-on-large-only hide-on-med-only " style="position: fixed;
    right: 10px;     top: 145px;">
    <i class="material-icons">add</i>
  </a>


<!--<button data-target="modal1" class="btn" (click)="openModal('nokey', false)">INSERT PRODUCTS</button>-->
<div class="row" style="max-width: inherit; margin-top: -20px;">
                <div class="menu-admin">
                  <a href="/admin"  class="waves-effect waves-teal btn-flat" [ngClass]="(priceTotals === 0 )? 'green-text':'red-text'" ><i class="material-icons left">&#xE227;</i>Por cobrar {{priceTotals}}  </a>
                  <a href="/ventas" class="waves-effect waves-teal btn-flat" ><i class="material-icons left">&#xE8CB;</i> ventas</a>
                </div>
      <div class="col s12  m4 l2 fix-position">
      </div>
      <div class="col s12  m4 l2 " style=" background: #c9c9c9">
        <app-user-nav> </app-user-nav>
      </div>

      <div class="col s12  m8 l10">
         <div class="container">
          <div class="col s12">
            <div class="content-tittle">
                <h1 class="left-align">Inventario </h1>

                <a  data-target="modal1" (click)="openModal('nokey', false)" class="waves-effect waves-light btn hide-on-small-only"><i class="material-icons">add</i> Agregar Producto</a>
            </div>
          </div>
            <div class="col l3 m6 s12 product-card" *ngFor="let img of imageList | async">
              <div class="card">
                <div class="card-image">
                  <img src="{{ img.downloadURL.qa }}" >
                </div>
                <div class="card-content">
                  <span class="card-title truncate">
                    {{img.product}}
                  </span>
                  <div>Precio: {{img.price}}</div>
                  <div>Cantidad: {{img.quantity}}</div>
                </div>
                <div class="card-action" style="text-align: right">
                  <a data-target="modal1" class="btn-floating" (click)="openModal(img.$key, true)"><i class="material-icons">&#xE3C9;</i></a>
                  <a class="btn-floating" (click)="delReg(img.path, img.$key )"><i class="material-icons">&#xE92B;</i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

<!-- Modal Structure -->
<div id="modal1" class="modal">
  <form #formData='ngForm' >
    <div class="modal-content">
      <div class="row">
        <div class="input-field col s12">
          <input #text1  [(ngModel)]="productN" value="{{ObjProd.product}}" name="productN" type="text" autofocus>
          <label for="productN">Product Name</label>
        </div>
        <div class="input-field col s12">
          <input #text2 [(ngModel)]="price" value="{{ObjProd.price}}" name="price" type="text" autofocus>
          <label for="price">price</label>
        </div>
        <div class="input-field col s12">
          <input #text3 [(ngModel)]="quantity" value="{{ObjProd.quantity}}" name="quantity" type="text" autofocus>
          <label for="quantity">quantity</label>
        </div>
        <!--<div class="input-field col s12">
          <input [(ngModel)]="photoURL" value="{{ObjProd.photoURL}}" name="photoURL" type="text" autofocus>
          <label for="photoURL">photoURL</label>

        </div>-->
      </div>
    </div>
    <div class="modal-footer">

    </div>
    <a type="submit" (click)="onSubmit(formData.value)"  class="modal-action modal-close waves-effect waves-light btn ">Aceptar</a>
  </form>
        
        <input id="file" name="file" type="file">

      
      <div style="overflow:hidden;">
        <div style="position:relative;width:100px;height:100px;float:left;display:flex;justify-content:center;align-items:center;">
          <img [src]="ObjProd.img" style="max-width:100px;max-height:100px;">
          <!--<button (click)="delete(ObjProd.path, ObjProd.key)" style="position:absolute;top:2px;right:2px;">[x]</button>-->
        </div>
      </div>
</div>