/* You can add global styles to this file, and also import other style files */
html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.collection .collection-item.avatar {
  z-index: 0;
}
.collection{
  border-width: 0px;
}
*, *:after, *:before {
  box-sizing: inherit;
}

a {
  color: #333;
  text-decoration: none;
}


body {
 background: #57c1dc;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: #000;

}

h1 {
  width: 100%;
  text-align: center;
  padding: 40px 0;
}

.openn {
  position: fixed;
  top: 40px;
  z-index: 4;
  right: 40px;
  width: 50px;
  height: 50px;
  display: block;
  cursor: pointer;
  transition: opacity 0.2s linear;
}
.openn:hover {
  opacity: 0.8;
}
.openn span {
  display: block;
  float: left;
  clear: both;
  height: 4px;
  width: 40px;
  border-radius: 40px;
  background-color: #761f86;
  position: absolute;
  right: 3px;
  top: 3px;
  overflow: hidden;
  transition: all 0.4s ease;
}
.openn span:nth-child(1) {
  margin-top: 10px;
  z-index: 9;
}
.openn span:nth-child(2) {
  margin-top: 25px;
}
.openn span:nth-child(3) {
  margin-top: 40px;
}

.sub-menu {
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  height: 0;
  width: 0;
  right: 0;
  top: 0;
  position: absolute;
  background-color: rgba(38, 84, 133, 0.54);
  border-radius: 50%;
  z-index: 18;
  overflow: hidden;
}
.sub-menu li {
  display: block;
  float: right;
  clear: both;
  height: auto;
  margin-right: -160px;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.sub-menu li:first-child {
  margin-top: 180px;
}
.sub-menu li:nth-child(1) {
  -webkit-transition-delay: 0.05s;
}
.sub-menu li:nth-child(2) {
  -webkit-transition-delay: 0.10s;
}
.sub-menu li:nth-child(3) {
  -webkit-transition-delay: 0.15s;
}
.sub-menu li:nth-child(4) {
  -webkit-transition-delay: 0.20s;
}
.sub-menu li:nth-child(5) {
  -webkit-transition-delay: 0.25s;
}
.sub-menu li a {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  width: 100%;
  display: block;
  float: left;
  line-height: 40px;
}

.oppenned .sub-menu {
  opacity: 1;
  height: 400px;
  width: 400px;
}
.oppenned span:nth-child(2) {
  overflow: visible;
}
.oppenned span:nth-child(1), .oppenned span:nth-child(3) {
  z-index: 100;
  transform: rotate(45deg);
}
.oppenned span:nth-child(1) {
  transform: rotate(45deg) translateY(12px) translateX(12px);
}
.oppenned span:nth-child(2) {
  height: 400px;
  width: 400px;
  right: -160px;
  top: -160px;
  border-radius: 50%;
  background-color: rgba(38, 84, 133, 0.54);
}
.oppenned span:nth-child(3) {
  transform: rotate(-45deg) translateY(-10px) translateX(10px);
}
.oppenned li {
  margin-right: 168px;
}

.button {
  display: block;
  float: left;
  clear: both;
  padding: 20px 40px;
  background: #fff;
  color: #000;
  border-radius: 3px;
  border: 2px solid #10a1ea;
  overflow: hidden;
  position: relative;
}
.button:after {
  transition: transform 0.3s ease;
  content: "";
  position: absolute;
  height: 200px;
  width: 400px;
  transform: rotate(45deg) translateX(-540px) translateY(-100px);
  background: #10a1ea;
  z-index: 1;
}
.button:before {
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  content: attr(title);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  z-index: 2;
  text-align: center;
  padding: 20px 40px;
  transform: translateY(200px);
}
.button:hover {
  text-decoration: none;
}
.button:hover:after {
  transform: translateX(-300px) translateY(-100px);
}
.button:hover:before {
  transform: translateY(0);
}



button {
    padding:1.2em;
    width:100%;
    cursor:pointer;
    margin-bottom:15px;
    font-size:1.3em;
}

.basic-btn {
    background: #3B8598;
    color:white;
}

input.txt {
    border-top-width: 0px !important;
    border-right-width: 0px !important;
    border-left-width: 0px !important;
}
[type=text]:focus{
  border: 0px !important;
}
h2 {
    margin: 1.7em 0 .9em 0;
}

.alc {
    text-align:center;
    display:block;
    margin: 15px 0;
    position: relative;
    color: #57c1dc;
}
.alc:hover {
    color: #fff;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.alc:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.alc:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.error {
    background:#f1f0ef;
    padding:1em;
    width:100%;
    display:block;
    margin-bottom:20px;
}

#goback {
    font-weight:bold;
    text-transform:uppercase;
    font-size:.8em;
    color:#3B8598;
}
#goback span {
    font-size:1em;
}



.loading {
  width: 30px;
  height: 30px;
  border: 5px solid #ccc;
  position: fixed;
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: -20px;
  border-radius: 50%;
}


.loading:after {
  content: '';
  position: absolute;
  width: 40px;
  height: 10px;
  background: #E2E4E6;
  top: 10px;
  left: -5px;
  animation: spin 1.2s infinite;
}
.btn-5 {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
} 

.btn-5:hover {
  
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;

}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.btn-reg {
  background: #6a1b9a;
  border: 1px solid #6a1b9a;
  box-shadow: 0px 2px 0 #6a1b9a, 2px 4px 6px #6a1b9a;
  font-weight: 900;
  letter-spacing: 1px;
  -webkit-transition: all 150ms linear;
  transition: all 150ms linear;
}
.btn-large.purple.darken-3:hover{
  -webkit-transition:  1s ease-in-out;
  transition:  1s ease-in-out;
  background-color: #a429ef !important;
}
.img-anim{
-webkit-animation: 
        fadeInDown 3s 1,
        levitate 3s infinite;  
    -moz-animation: 
        fadeInDown 3s 1,
        levitate 3s infinite;
}

@-webkit-keyframes fadeInDown {
    0% {
         -webkit-transform: translateY(-50px);
        opacity:0;        
   }

    100% {
        -webkit-transform: translateY(10px);
        opacity:1;
   }
}
@-moz-keyframes fadeInDown {
    0% {
         -moz-transform: translateY(-50px);
        opacity:0;        
   }

    100% {
        -moz-transform: translateY(10px);
        opacity:1;
   }
}

@-webkit-keyframes levitate{
  0% {
         -webkit-transform: translateY(-5px);

   }
   
   

    50% {
           -webkit-transform: translateY(0px);
   }

100%{
         -webkit-transform: translateY(-5px);
}

}

@-moz-keyframes levitate{
  0% {
         -moz-transform: translateY(-5px);
   }

    50% {
           -moz-transform: translateY(3px);

   }

100%{
         -moz-transform: translateY(-5px);
}

}


@media (max-width: 600px) {
    body {
        padding-top:1.2em;
    }

    .form-container {
        padding:1.2em;
        width:90%;
        margin-left:-45%;
    }
    button {
        font-size:1em;
    }
}