
<app-user-nav> </app-user-nav>

<div class="row " style="max-width: inherit; margin-top: -20px;">
  <div class="col s12 ">
    <div class="container">
      <h1>Purchase history</h1>
      <div class="row" style="    margin: 0 auto;">
        <div class="input-field col s12 l6">
          <i class="material-icons prefix">&#xE916;</i>
          <input #date1 type="date" name="date1" id="date1" class="datepicker" placeholder="mm/dd/yy">
          <label for="date1">Initial date</label>
        </div>
        <div class="input-field col s12 l6">
          <i class="material-icons prefix">&#xE916;</i>
          <input #date2 type="date" name="date2" id="date2" class="datepicker" placeholder="mm/dd/yy">
          <label for="date2">Final date</label>
        </div>
        <div class=" col s12 left-align">
          <a class="waves-effect waves-light btn" (click)="setNewData(date1.value,date2.value)">Search</a>
        </div>
        <div class=" col s12 left-align">
          <h4>{{datAts | date:'yMMMd'}} To {{datEnds | date:'yMMMd'}} </h4>
        </div>
      </div>
      <table class="striped">
        <thead>
          <tr>
            <th>Order date</th>
            <th>Name</th>
            <th class="hide-on-small-only">quantity</th>
            <th *ngIf="!this.userId">Status</th>
            <th>Grand Total</th>
            <th *ngIf="this.userId">Cancelled</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of itemslist | paginate: { itemsPerPage: 10, currentPage: p } , let j = index">
            <td>{{item.date | date:'yMMMd'}}</td>
            <td class="truncate">{{item.name}}</td>
            <td class="hide-on-small-only">{{item.quantity}}</td>
            <td *ngIf="!this.userId" [ngClass]="(item.Ispaid==true)? 'green-text':'red-text'">{{item.Ispaid == true ? "payout": "pending"}}</td>
            <td>{{item.price * item.quantity}}</td>
            <td *ngIf="this.userId" >
              <div class="switch" >
                <label>
                  Pendiente
                    <input type="checkbox" [checked]="item.Ispaid" (click)="onCheckPurchased(item)" >
                    <span class="lever"></span>
                  Pagado
                </label>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>