<div class="form-container" id="toolbar">
    <header [@fallIn]="state">

    </header>
  <div id="page" [@moveInLeft]="state" class="">

    <div class="row " style="max-width: inherit">    
      <div class="col s12  m4 l2 fix-position">
        <app-user-nav> </app-user-nav>
        <blockquote id="shopd" >
            <div class="chip" *ngFor="let item of ObjCart " >
              <img src="{{item.url}}" alt="Contact Person">
              {{item.q}}
              <i class="close material-icons">close</i>
            </div>
            <a class="waves-effect waves-light btn" (click)="purchasedItems( )" ><i class="material-icons">&#xE8CC;</i>Confirm</a>
        </blockquote>
      </div>
      <div class="col s12  m8 l9 offset-l3 offset-m4">
          <div class="col s12">
            <div class="content-tittle">
                  <h3 class="left-align">Welcome back! </h3>



            </div>
          </div>
          <ul class="row produktliste col s12" >
            <li  class="col l3 m4 s12 clearfix" *ngFor="let prd of imageList | async; let i = index" style="margin-bottom: 20px">
                <div class="card row product">
                    <div class="card-image">
                      <img src="{{prd.downloadURL.pa}}" alt="iRobot Roomba 651">
                    </div>
                    <div class="card-content">
                      <h3>{{prd.product}}</h3>
                    </div>
                    <div class="card-action row">
                        
                        <p class="col s6 l6 m6 ">${{prd.price}} </p>
                        <span class="col s6 l6 m6 ">
                            <a (click)="addCart(prd, i )"  class="waves-effect waves-light btn secondary-content btn-addlist" id="" name="refawe2"><i class="material-icons">&#xE854;</i></a>
                        </span>
                    </div>
                   <span style="position: absolute; right: 0;" data-badge-caption="available" class="new badge green">{{prd.quantity}}</span>
                </div>
              </li>

          </ul>
        </div>

    </div>

  </div>

