<div class="form-container" id="toolbar">
    <header [@fallIn]="state">

    </header>
<div id="page" [@moveInLeft]="state" class="">
      <div  class="openn">
          <span class="cls"></span>
          <span>
              <ul class="sub-menu ">
                  <li>
                      <a href="#about" title="about">{{valueDate | date: 'dd/MM/yyyy'}}</a>
                  </li>
                  <li>
                      <a href="#skills" title="skills">Habilidades / Skills</a>
                  </li>
                  <li>
                      <a href="#jobs" title="jobs">Trabalhos / Jobs</a>
                  </li>
                  <li>
                      <a (click)="logout()" title="Logout">Logout</a>
                  </li>
              </ul>
          </span>
          <span class="cls"></span>
      </div>
  <div class="row ">
    <div class="col s12  m3">
      <div class="card small">
        <div class="card-image ">
          <div class="overlay"></div>
          <img  src="{{ObjUser.photoUrl}}" class="">
          <span class="card-title">{{ ObjUser.name }}</span>
        </div>
        <div class="card-content">
          <p> Saldo pendiente: $0.</p>
          

        </div>
        <div class="card-action">
            <a href="">Perfil</a>
        </div>

      </div>
      <blockquote id="shopd" *ngFor="let item of itemsP " >

          <div class="chip">
            <img src="{{item.p}}" alt="Contact Person">
            {{item.q}}
            <i class="close material-icons">close</i>
          </div>

          <a class="waves-effect waves-light btn"><i class="material-icons">&#xE8CC;</i>Buy</a>
      </blockquote>
    </div>
      <div class="col s12  m9">
        <div class="col s12">
          <div class="content-tittle">
            <div class="content__container">
              <p class="content__container__text">
                Hello
              </p>
              
              <ul class="content__container__list">
                <li class="content__container__list__item">world !</li>
                <li class="content__container__list__item">Yuxian !</li>
                <li class="content__container__list__item">{{ ObjUser.name }} !</li>
                <li class="content__container__list__item"> Doña Gloria !</li>
              </ul>
            </div>
          </div>
        </div>
      <ul class="collection col s12"  *ngFor="let prd of imageList | async">
          <li class="collection-item avatar" >
            <img src="{{prd.downloadURL}}" alt="" class="circle">
            <span class="title">{{prd.product}} </span>
            <p><i class="material-icons tiny">&#xE227;</i> {{prd.price}}</p>
             <p> Quantity: <strong id="Quanty">{{prd.quantity}}</strong> <input type="text" [(ngModel)]="mvalor" id="valq"> </p>
            <a (click)="init(prd )"  class="waves-effect waves-light btn secondary-content btn-addlist" id="" name="refawe2"><i class="material-icons">&#xE854;</i></a>
          </li>
        </ul>
    </div>

  </div>

</div>