.container{
    /*background: rgba(84, 191, 220, 0.72);
    border: 1px solid #fff;*/
    position: relative;
    left: -50%;
    top: -50%;
    width: 50%;
}
#lock {
    /*width:40%;
    margin: 1.5em auto 4em auto;*/
    display:block;
    margin-top: 10%;
    -webkit-animation:spin 8s ease-in infinite;
    -moz-animation:spin 8s ease-in infinite;
    animation:spin 8s ease-in infinite;
}
#goback{
color: #ffffff;
    border-bottom: 1px solid #fff; 
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: rgba(195, 194, 195, 0.19) !important;
    background-image: none;
    color: #fff;

}
.middle {
    display: table-cell;
    vertical-align: middle;
}

.txt{
     background: rgba(195, 194, 195, 0.19);
    padding-left: 8px;
    width: 99%; 
    color: #fff;
}
.form-container {
    background: #5b1249;
    color: #fff;
    padding-top: 10%;
    /*padding:3.5em;
    width:500px;*/
    position:relative;
    /*left:50%;
    border: 1px solid #fff;
    margin-left:-250px;*/
}
.margin-rs{
    margin:0px 50px;
}
.valign-wrapper{
    height: 100%;
    margin-bottom: 0px;
}
.valign{
    height: 100%;
}
#lock {
    /*width:40%;
    margin: 1.5em auto 4em auto;*/
    margin: 1% auto;
    margin-top: -20px ;
    margin-bottom: 35px;
    display:block;
    -webkit-animation:spin 8s ease-in infinite;
    -moz-animation:spin 8s ease-in infinite;
    animation:spin 8s ease-in infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotateY(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotateY(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotateY(360deg); transform:rotateY(360deg);  } }

/* backgrou8nd */

* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#vidtop-content {
	top: 0;
	color: #fff;
}
.vid-info { 
     display: table;
    height: 100%;
    width: 100%;
    position: absolute; left: 50%; background: rgba(0,0,0,0.3); color: #fff; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.vid-info h1 { font-size: 2rem; font-weight: 700; margin-top: 0; line-height: 1.2; }
.vid-info a { display: block; color: #fff; text-decoration: none; background: rgba(0,0,0,0.5); transition: .6s background; border-bottom: none; margin: 1rem auto; text-align: center; }
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}