 <app-user-nav> </app-user-nav>
<div class="row " style="max-width: inherit; margin-top: -20px;">

  <div class="col s12  ">
    <div class="container">
      <h1>Historial de deudores</h1>
      <table class="striped centered">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Deduda total</th>
            <th>Pagado?</th>
            <th></th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let user of users; let i = index">
            <td *ngIf="user.priceTotal > 0">{{user.name}}</td>
            <td *ngIf="user.priceTotal > 0">
              {{user.priceTotal? user.priceTotal : 0}}
            </td>
            <td *ngIf="user.priceTotal > 0">
              <a>
                <input type="checkbox" id="check{{i}}" (click)="onCheck(user.$key)" />
                <label for="check{{i}}"></label>
              </a>

            </td>
            <td *ngIf="user.priceTotal > 0">
               <a [routerLink]="['/history', user.$key]" class="secondary-content">
                <i class="material-icons">&#xE8F4;</i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>